.marca{
  color: yellow;
  text-decoration: underline;
  }
.morado{
  color: blueviolet;
  text-decoration: underline;
}
.centrado{
  display:flex;
  justify-content: center;
  line-height: 1.5;

}

.info{
  display: grid;
  text-align:justify;
}

a{
  font-weight: bold;
  font-size: 20pt;
}