.contenedor {
  text-align: justify;
  margin: 0 auto;
  max-width: 700px;
}

p{
  line-height: 2;
}


.verde{
  color: green;
  text-decoration: underline;
}
.rojo{
  color: red;
  font-weight: bold;
  
}
.interlineado{
  text-decoration: underline overline;
}
.negrilla{
  font-weight: bold;
  font-size: 20pt;
}
.azul{
  color: blue;
}
.rojo2{
  color: red;
  text-decoration: underline;
}